body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #eee;
	color: #345d98;
	margin: 0px;
}

header {
	margin: 0px;
	padding: 20px;
	display: block;
	background-color: #345d98;
	text-align: right;
	color: #eee;
	font-size: 16px;
}

#dislike { 
	font-family: Material Icons;
	vertical-align: middle; 
	cursor: pointer;
	background-color: none;
	font-size: 20px;
	color: red; 
}

#like { 
	font-family: Material Icons;
	vertical-align: middle; 
	cursor: pointer; 
	font-size: 20px;
	color: green;
}

i {
	font-size: 500px;
	color: red;
}

/*footer {
	margin: 0px;
	padding: 20px;
	display: block;
	background-color: #3a7354;
	text-align: left;
	color: #eee;
}*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  color: #fff;
  /*background-color: #eee;*/
  text-shadow: 2px 2px #509ec4;
  text-align: center;
 /* z-index: 0;*/
}

img {
	max-height: 300px;
}

h1 {
	text-align: center;
	color: #eed147;
}

a {
	text-align: right;
	color: #d0302b;
	text-shadow: -1px 1px #99b1c9;
	text-decoration: none;
}

ul {
	text-align: center;
}

form {
	background-color: #eee;
	color: #bff8b9;
	padding: 10px;
	text-align: left;
	padding-left: 15%;
}

#login {
	padding-left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 2;
}

.qn {
	width: 60%;
	margin: 10px auto;
	text-align: center;
	color: black;
}


input {
	font-size: 16px;
	background-color: #bff8b9;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px 7px;
	/*height: 40px;
	width: 100px;*/
	transition: 0.2s all ease-in-out;
	box-shadow: -3px 3px #fff296;
}

#form2 {
	justify-content: center;
}

#back {
	background-color: #509ec4;
	color: #eee;
}

#likedBeersArr {
	margin: 0px;
	padding: 5px;
	background-color: #509ec4;
}

#messy{
	height: 400px;
  	position: relative;
 	/*border: 3px solid green;*/
}

#messy-v {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#ss{
	justify-content: center;
	font-size: 50px;
}

li {
	padding: 9px;
	margin: 20px;
	display: inline-block;
	background-color: #345d98;
	box-shadow: -10px 10px #eed147;
	color: #fff296;
}

.login-container, .signup-container {
	position: relative;
	height: 85vh;
	background-image: url('../cheers.jpg');
	z-index: 1;
	opacity: 0.75;
	background-size: cover;
	background-repeat: no-repeat;
}
.signup-container {
	background-image: url('../cheers2.jpg');
}

.login-container label, .signup-container label {
	font-size: 19px;
	margin-right: 20px;
}

.login-content {
	padding: 11% 0;
	justify-content: center;
	overflow: hidden;
}

#login-btn, #signup-btn {
	margin-top: 20px;
	padding: 7px 9px;
	font-size: 16px;
	border-radius: 20%/50%;
	min-width: 85px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
	border-style: none;
	background-color: #d26649;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	transition: all 0.2s ease-in-out;
	color: #000000;
}

.signup-redirect {
	transition: 0.4s;
}

.signup-redirect:hover {
	text-decoration: underline;
}

#signup-btn {
	margin-right: 20px;
	background-color: #fcaf98 ;
}

#login-btn:hover, #signup-btn:hover {
	cursor: pointer;
	background-color: #DAF7A6;
	transform: scale(1.01);
}

.effect {
	border: 0;
	padding: 5px 0 7px;
	border: 1px solid transparent;
	border-bottom-color: #ccc;
	transition: 0.4s;
	box-shadow: none;
}

.effect:hover {
	box-shadow: -3px 3px #fff296;
}

.effect:focus{
	padding: 5px 7px 7px;
	transition: 0.4s;
}

.effect ~ .focus-border {
	position: absolute;
	height: 0;
	bottom: 0;
	left: 0;
	width: 100%; 
	transition: 0.4s;
	z-index: -1;
}

.effect:focus ~ .focus-border { 
	transition: 0.4s; height: 36px; border: 2px solid #3399FF; z-index: 1;}

/*li h2 {
	text-transform: uppercase;
	color: #eee;
	margin-top: 25%;
	font-size: 30px;
	width: 100%;
}*/

/*
	jade: #3a7354
	mint: #b0dabe
	yellow: #eed147
	dark blue: #345d98
	power blue: #99b1c9
	red: #d0302b

	old yellow: #fff296
	old green: #bff8b9
	*/
